.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    text-align: center;
}

.wrapper {
    background-color: rgb(255, 255, 255);
    width: 800px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgb(151, 151, 155)  1px 1px  10px
}
.wrapper:hover {
    box-shadow: rgba(99, 34, 252, 0.452) 1px  2px 20px
}


.titleWrap{
    height: 60px;
    font-size: 18px;
    background-color: rgba(66, 2, 95, 0.829);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.rowWrap {
    cursor: pointer;
}

.rowWrap:hover {
    background-color: rgba(19, 0, 223, 0.103);
}

.textWrap {
    height: 45px;
    border: 1px solid rgb(27, 0, 77);
    background-color: transparent;
    text-transform: uppercase;
}